*, *: before, *: after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  color: #fff;
  display: block;
  font-family: "Roboto";
}

main {
  padding-bottom: 43px;
}

h1 {
  font-size: 20px;
}

h2 {
  float: left;
  font-size: 24px;
  padding: 23px 0 11px 0;
  width: 256px;
}

h3 {
  font-size: 12px;
  line-height: 20px;
}

h1, h2, p {
    margin-left: 0px;
}

p {
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.status-bar {
  background: url(../images/status-bar.png) no-repeat center;
  background-size: cover;
  height: 23px;
  margin: -410px 0 0 0;
  max-width: 500px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.bus-stop-box {
  background-color: #009688;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 45%));
  height: 130px;
  margin: -410px 0 0 0;
  max-width: 500px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.bus-stop-box-interior {
  height: 130px;
  margin: auto;
  width: 87.6%;
}

.back-arrow {
  background: url(../images/back-arrow.png) no-repeat;
  background-size: contain;
  display: inline-block;
  float: left;
  height: 16px;
  margin: 48px 20px 23px 0px;
  width: 16px;
  z-index: 10;
}

.input {
  border: none;
  border-radius: 2px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 45%));
  font-size: 16px;
  float: left;
  height: 30px;
  width: 76%;
}

.start {
  color: #2F3132;
  margin: 40px auto 7px auto;
  padding-left: 10px;
}

.end {
  color: rgba(47, 49, 50, 50%);
  padding-left: 10px;
}

.switch-arrows {
  background: url(../images/switch-arrows.png) no-repeat;
  background-size: contain;
  display: inline-block;
  float: right;
  height: 50px;
  margin: -20px 0px 0px 0px;
  width: 23px;
  z-index: 10;
}

.map {
  background: url(../images/map.png) no-repeat;
  background-size: cover;
  height: 280px;
  margin: -280px 0 0 0 ;
  max-width: 500px;
  position: fixed;
  width: 100%;
}

.bus:hover {
  background-color: #188D63;
  /*color: #3a4241; In case I change background-color and want to change text color.
  font-weight: 500;*/
}

.eastbound {
  margin-top: 410px;
}

.top {
    border-bottom: 1px solid #C4C4C4;
}

.bus {
    background-color: #3a4241;
    max-width: 500px;
    z-index: -1;
  }

.businfo {
  height: 104px;
  margin: auto;
  width: 87.6%;
}

.busnumber {
  font-weight: 400;
  float: left;
  font-size: 24px;
  padding: 14px 0 10px 0;
  width: 150px;
}

.destination {
  font-weight: 400;
  text-align: left;
  padding-top: 30px;
  width: 180px;
}

.direction {
  color: #dadada;
  float: left;
  font-size: 14px;
  padding-top: 10px;
  text-transform: uppercase;
}

.frequency {
  float: right;
  margin: 14px 6.2% 0 0;
  text-transform: uppercase;
  width: 46px;
}

.arrives-circle {
  color: #3a4241;
  border-radius: 100%;
  font-weight: 500;
  height: 54px;
  text-align: center;
  width: 54px;
}

.red {
  background-color: #F18080;
}

.yellow {
    background-color: #F0D172;
}

.green {
  background-color: #77DB87;
}

.mins {
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
}

.mins-text, .next {
  font-size: 12px;
}

.next {
  clear: right;
  color: #dadada;
  float: right;
  line-height: 10px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  width: 80px;
}

.reroute {
  color: #F0D172;
}

.na {
    float: right;
    margin: 32px 6.2% 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 38px;
  }

.out-of-service {
  color: #F18080;
}

.resumes {
  float: right;
  margin: 14.6px 3% 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 55px;
}

.time {
  padding: 15px 0;
}

.navbar {
    background: url(../images/navbar.png) no-repeat center;
    background-size: cover;
    bottom: 0;
    height: 43px;
    margin: auto;
    max-width: 500px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

/* Don't need these media queries
  /* Nexus Tablets

  @media screen and (min-width: 601px) {
h1 {
  font-size: 24px;
}

h2 {
  font-size: 30px;
}

p, .group h1 {
  font-size: 20px;
}

.back-arrow {
  height: 18px;
  width: 18px;
}

.busnumber {
  width: 300px;
}

.frequency, .na, .resumes {
  margin-top: 24px;
}

.destination {
  padding-top: 61px;
  width: 300px;
}

/* iPad

@media screen and (min-width: 768px) {
h1 {
    font-size: 26px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
}

p, .group h1 {
  font-size: 24px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.back-arrow {
  height: 19px;
  margin: 43px 20px 23px 0px;
  width: 19px;
}

.bus-stop-name {
  padding: 40px 0 23px 0;
  width: 400px;
}

.busnumber {
  width: 400px;
}

.frequency, .na, .resumes {
  margin-top: 22px;
  width: 75px;
}

.destination {
  padding-top: 59px;
  width: 400px;
}

.mins {
    font-size: 24px;
    line-height: 26px;
  }
}

@media screen and (max-width: 800px) {
.container {
  margin: 0 auto;
  max-width: 800px;
}
}

*/
